@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.rbc-agenda-time-cell {
  width: 100px;
  border-right: 1px solid #ddd;
}

.rbc-agenda-date-cell {
  width: 100px;
}

.rbc-agenda-event-cell {
  border-left: 0 !important;
  @apply indicator
}
