@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.rbc-agenda-time-cell {
  border-right: 1px solid #e2e8f0;
}

.rbc-agenda-event-cell {
  border-left: 0 !important;
  flex: 1 0 0px !important;
  @apply  indicator
}

.rbc-agenda-table {
  @apply flex
}

.rbc-agenda-table *{
  border-bottom: 0 !important;
  border-top: 0 !important;
}
