@tailwind base;
@tailwind components;
@tailwind utilities;

path {
  fill: #fff;
}

.rbc-event {
  @apply p-0 !important;
  @apply bg-transparent !important;
}

.rbc-today {
  @apply bg-primary/10 !important 
}

.h-almostScreen {
height: calc(100vh - 64px)
}
